<!DOCTYPE html>
<html lang="ko">

<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="discrption" content="#" />
<meta name="keyword" content="#" />
<title>지앤지병원</title>
<link
	href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&display=swap"
	rel="stylesheet">

<link rel="shortcut icon" href="/front/gng/assets/img/favicon.ico"
	type="image/x-icon" />
<link rel="icon" href="/front/gng/assets/img/favicon.ico"
	type="image/x-icon" />
<link href="/front/gng/assets/css/plugins.css" rel="stylesheet" />
<link href="/front/gng/assets/css/style.css" rel="stylesheet" />
<link rel="stylesheet" href="/front/gng/assets/css/detail.css">
<script src="https://kit.fontawesome.com/c5ff1aa588.js"
	crossorigin="anonymous"></script>
</head>

<body class="v-light hamburger-menu dsn-effect-scroll dsn-ajax header"
	data-dsn-mousemove="true">
	<div data-dsn-temp="light"></div>

	<div class="preloader">
		<div class="preloader-after"></div>
		<div class="preloader-before"></div>
		<div class="preloader-block">
			<div class="title">
				<img width="160px;" src="/front/gng/assets/new/logo_japan.png">
			</div>
			<div class="percent">0</div>
			<div class="loading">Page Loading</div>
		</div>
		<div class="preloader-bar">
			<div class="preloader-progress"></div>
		</div>
	</div>

	<div class="dsn-nav-bar">
		<div class="header-top header-top-hamburger">
			<div class="header-container">
				<div class="logo main-logo">
					<a href="#"> <img class="dark-logo"  width="160px;" 
						src="/front/gng/assets/new/logo_japan.png" alt="" /> <img width="160px;"
						class="light-logo" src="/front/gng/assets/new/logo_japan.png"
						alt="" />
					</a>
				</div>
			</div>
		</div>
	</div>

	<main class="main-root">
		<div id="dsn-scrollbar">
			<div class="dsn-slider demo3 section-01 scroll"
				data-dsn-header="project">
				<div class="dsn-root-slider" id="dsn-hero-parallax-img">
					<div class="slide-inner">
						<div class="swiper-wrapper">
							<div class="slide-item swiper-slide">
								<div class="slide-content">
									<div class="slide-content-inner">
										<div class="project-metas">
											<div class="project-meta-box project-work cat">
												<span class="main-sub-text">整形手術の名家</span>
											</div>
										</div>

										<div class="title-text-header">
											<div class="title-text-header-inner">
												<a href="#" class="effect-ajax" data-dsn-ajax="slider">
													自然な美しさ！ 言わないとわからない 
ナチュラルさ</a>
											</div>
										</div>

										<p class="main-sub-text">:: 自然な整形手術 ::</p>

										<div class="link-custom main-form">
											<form class="form">
												<div class="input__wrap controls">
													<div class="form-group">

														<div class="entry">
															<label>Name</label> <input type="text" name="name"
																placeholder="お名前を入力してください" required="required">
														</div>
														<div class="help-block with-errors"></div>
													</div>

													<div class="form-group">
														<div class="entry">
															<label>Phone</label> <input type="email" name="email"
																placeholder="連絡先を入力してください" required="required">
														</div>
														<div class="help-block with-errors"></div>
													</div>

													<div class="form-group">
														<div class="entry">
															<label>Message</label>
															<textarea class="form-control" name="message"
																placeholder="問い合わせ内容を入力してください" required="required"></textarea>
														</div>
														<div class="help-block with-errors"></div>
													</div>

													<div class="image-zoom" data-dsn="parallax">
														<button>SEND MESSAGE</button>
													</div>
												</div>
											</form>
										</div>

									</div>
								</div>
								<div class="image-container">
									<div class="image-bg cover-bg"
										data-image-src="/front/gng/assets/new/2.png" data-overlay="5">
										<img src="/front/gng/assets/new/2.png" alt="">
									</div>
								</div>
							</div>

							<div class="slide-item swiper-slide">
								<div class="slide-content">
									<div class="slide-content-inner">
										<div class="project-metas">
											<div class="project-meta-box project-work cat">
												<span class="main-sub-text">信頼できる病院</span>
											</div>
										</div>

										<div class="title-text-header">
											<div class="title-text-header-inner">
												<a href="#" class="effect-ajax" data-dsn-ajax="slider">
													まだ既製プロテーゼを使った鼻整形を考えてますか？
</a>
											</div>
										</div>

										<p class="main-sub-text">:: GNG医療スタッフは常に努力して研究しています ::</p>

										<div class="link-custom">
											<form class="form">
												<div class="input__wrap controls">
													<div class="form-group">

														<div class="entry">
															<label>Name</label> <input type="text" name="name"
																placeholder="お名前を入力してください" required="required">
														</div>
														<div class="help-block with-errors"></div>
													</div>

													<div class="form-group">
														<div class="entry">
															<label>Phone</label> <input type="email" name="email"
																placeholder="連絡先を入力してください" required="required">
														</div>
														<div class="help-block with-errors"></div>
													</div>

													<div class="form-group">
														<div class="entry">
															<label>Message</label>
															<textarea class="form-control" name="message"
																placeholder="問い合わせ内容を入力してください" required="required"></textarea>
														</div>
														<div class="help-block with-errors"></div>
													</div>

													<div class="image-zoom" data-dsn="parallax">
														<button>SEND MESSAGE</button>
													</div>
												</div>
											</form>
										</div>

									</div>
								</div>
								<div class="image-container">
									<div class="image-bg cover-bg"
										data-image-src="/front/gng/assets/new/3.png" data-overlay="5">
										<img src="/front/gng/assets/new/3.png" alt="">
									</div>
								</div>
							</div>
							<div class="slide-item swiper-slide">
								<div class="slide-content">
									<div class="slide-content-inner">
										<div class="project-metas">
											<div class="project-meta-box project-work cat">
												<span class="main-sub-text">最高の安定性</span>
											</div>
										</div>

										<div class="title-text-header">
											<div class="title-text-header-inner">
												<a href="#" class="effect-ajax" data-dsn-ajax="slider">
													GNGで本当の自分の姿を見つけよう！</a>
											</div>
										</div>

										<p class="main-sub-text">:: お客様に最適化された美しさをプレゼント ::</p>

										<div class="link-custom">
											<form class="form">
												<div class="input__wrap controls">
													<div class="form-group">

														<div class="entry">
															<label>Name</label> <input type="text" name="name"
																placeholder="お名前を入力してください" required="required">
														</div>
														<div class="help-block with-errors"></div>
													</div>

													<div class="form-group">
														<div class="entry">
															<label>Phone</label> <input type="email" name="email"
																placeholder="連絡先を入力してください" required="required">
														</div>
														<div class="help-block with-errors"></div>
													</div>

													<div class="form-group">
														<div class="entry">
															<label>Message</label>
															<textarea class="form-control" name="message"
																placeholder="問い合わせ内容を入力してください" required="required"></textarea>
														</div>
														<div class="help-block with-errors"></div>
													</div>

													<div class="image-zoom" data-dsn="parallax">
														<button>SEND MESSAGE</button>
													</div>
												</div>
											</form>
										</div>

									</div>
								</div>
								<div class="image-container">
									<div class="image-bg cover-bg"
										data-image-src="/front/gng/assets/new/4.png" data-overlay="5">
										<img src="/front/gng/assets/new/4.png" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="dsn-slider-content"></div>


				<div class="nav-slider">
					<div class="swiper-wrapper" role="navigation">
						<div class="swiper-slide">
							<div class="image-container">
								<div class="image-bg cover-bg"
									data-image-src="/front/gng/assets/new/2.png" data-overlay="2">
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="image-container">
								<div class="image-bg cover-bg"
									data-image-src="/front/gng/assets/new/3.png" data-overlay="2">
								</div>
							</div>
						</div>

						<div class="swiper-slide">
							<div class="image-container">
								<div class="image-bg cover-bg"
									data-image-src="/front/gng/assets/new/4.png" data-overlay="2">
								</div>
							</div>
						</div>
					</div>
				</div>

				<section class="footer-slid" id="descover-holder">
					<div class="main-social">
						<div class="social-icon">
							<div class="social-btn">
								<div class="svg-wrapper">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.3 23.2">
                                        <path
											d="M19.4 15.5c-1.2 0-2.4.6-3.1 1.7L7.8 12v-.7l8.5-5.1c.7 1 1.9 1.6 3.1 1.6 2.1 0 3.9-1.7 3.9-3.9S21.6 0 19.4 0s-3.9 1.7-3.9 3.9v.4L7 9.3c-1.3-1.7-3.7-2-5.4-.8s-2.1 3.7-.8 5.4c.7 1 1.9 1.6 3.1 1.6s2.4-.6 3.1-1.6l8.5 5v.4c0 2.1 1.7 3.9 3.9 3.9s3.9-1.7 3.9-3.9c0-2.1-1.7-3.8-3.9-3.8zm0-13.6c1.1 0 1.9.9 1.9 1.9s-.9 1.9-1.9 1.9-1.9-.7-1.9-1.8.8-2 1.9-2zM3.9 13.6c-1.1 0-1.9-.9-1.9-1.9s.9-1.9 1.9-1.9 1.9.9 1.9 1.9-.8 1.9-1.9 1.9zm15.5 7.8c-1.1 0-1.9-.9-1.9-1.9s.9-1.9 1.9-1.9 1.9.9 1.9 1.9-.8 1.8-1.9 1.9z">
                                        </path>
                                    </svg>
								</div>
							</div>
						</div>
						<ul class="social-network">
							<li><a href="#"> <i class="fab fa-facebook-f"></i>
							</a></li>
							<li><a href="#"> <i class="fab fa-instagram"></i>
							</a></li>
						</ul>
					</div>

					<div class="control-num">
						<span class="sup active">01</span>
					</div>
					<div class="control-nav">
						<div class="prev-container" data-dsn="parallax">
							<svg viewBox="0 0 40 40">
                                <path class="path circle"
									d="M20,2A18,18,0,1,1,2,20,18,18,0,0,1,20,2"></path>
                                <polyline class="path"
									points="14.6 17.45 20 22.85 25.4 17.45"></polyline>
                            </svg>
						</div>

						<div class="next-container" data-dsn="parallax">
							<svg viewBox="0 0 40 40">
                                <path class="path circle"
									d="M20,2A18,18,0,1,1,2,20,18,18,0,0,1,20,2"></path>
                                <polyline class="path"
									points="14.6 17.45 20 22.85 25.4 17.45"></polyline>
                            </svg>
						</div>
					</div>
				</section>
			</div>

			<div class="wrapper">
				<div class="root-project">
					<div class="container-fluid">
						<div class="img-box-small dsn-parallax-full"
							data-dsn-grid="move-up" data-dsn-triggerhook="0">
							<img src="/front/gng/assets/new/after/222.jpg" alt=""
								data-dsn-y="10%" data-dsn-scale="1.1">
							<div class="cap">
								<span style="margin-bottom:15px;font-weight:600;">Amazing Change</span>
								<div class="view-wrap">
									<div class="view-floor" style="margin-bottom:15px;">
										<div class="view-subject">
											<p>* 出っ張りのある鼻をすっきり!</p>	
										</div><br>
										<div class="view-content">
											<p>"韓国GNG病院で安全できれいに手術を受けました。</p>
											<p>とても満足のいく鼻筋のおかげで鏡を見るたびに何度も自撮りをしたくなります"</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="container-fluid">
						<div class="img-box-small dsn-parallax-full"
							data-dsn-grid="move-up" data-dsn-triggerhook="0">
							<img src="/front/gng/assets/new/after/333.jpg" alt=""
								data-dsn-y="10%" data-dsn-scale="1.1">
							<div class="cap">
								<span>Amazing Change</span>
								<div class="view-wrap">
									<div class="view-floor" style="margin-bottom:15px;">
										<div class="view-subject">
											<p>* だんご鼻だった鼻先がスッキリ!</p>	
										</div><br>
										<div class="view-content">
											<p>“広い顔型のため痩せても顔だけ太って不細工に見えて、</p>
											<p>ストレスが多かったのですが、手術をしてどの角度から見ても満足できるようになりました!"</p>
										</div>
									</div>
								</div>
							</div>
							<!-- <div class="cap r-0">
								<span>1F / 2F</span>
								<div class="view-wrap">
									<div class="view-floor" style="margin-bottom:15px;">
										<div class="view-subject">
											<p>* 1층 : Day Care Center</p>	
										</div>
										<div class="view-content">
											<p>고객분들이 대기하며 지루하지 않도록</p>
											<p>다양한 커피와 음료가 준비되어 있습니다.</p>
										</div>
									</div>
									<div class="view-floor">
										<div class="view-subject">
											<p>* 2층 : Priavte Consulting</p>	
										</div>
										<div class="view-content">
											<p>고객 한분 한분 최적의 결과를 위해</p>
											<p>자세하고도 전문적인 개인상담을 진행합니다.</p>
										</div>
									</div>
								</div>
							</div> -->
						</div>
					</div>

					<div class="container-fluid">
						<div class="img-box-small dsn-parallax-full"
							data-dsn-grid="move-up" data-dsn-triggerhook="0">
							<img src="/front/gng/assets/new/after/444.jpg" alt=""
								data-dsn-y="10%" data-dsn-scale="1.1">
							<div class="cap">
								<span>Amazing Change</span>
								<div class="view-wrap">
									<div class="view-floor" style="margin-bottom:15px;">
										<div class="view-subject">
											<p>* 地味だった顔からメリハリのある顔に！</p>	
										</div><br>
										<div class="view-content">
											<p>“子供の頃からわし鼻は私のコンプレックスでした。</p>
											<p>広くて平らな額にわし鼻で、顔がより長く見えたのですが、今はメリハリのある自分の顔がとても気に入ります！"</p>
										</div>
									</div>
								</div>
							</div>	
							<!-- <div class="cap">
								<span>1F / 2F</span>
								<div class="view-wrap">
									<div class="view-floor" style="margin-bottom:15px;">
										<div class="view-subject">
											<p>* 1층 : Day Care Center</p>	
										</div>
										<div class="view-content">
											<p>고객분들이 대기하며 지루하지 않도록</p>
											<p>다양한 커피와 음료가 준비되어 있습니다.</p>
										</div>
									</div>
									<div class="view-floor">
										<div class="view-subject">
											<p>* 2층 : Priavte Consulting</p>	
										</div>
										<div class="view-content">
											<p>고객 한분 한분 최적의 결과를 위해</p>
											<p>자세하고도 전문적인 개인상담을 진행합니다.</p>
										</div>
									</div>
								</div>
							</div> -->
						</div>
					</div>

					<!-- <div class="container-fluid">
						<div class="img-box-small dsn-parallax-full"
							data-dsn-grid="move-up" data-dsn-triggerhook="0">
							<img src="/front/gng/assets/new/bg/4.png" alt=""
								data-dsn-y="30%" data-dsn-scale="1.01">
							<div class="cap r-0">
								<span>1F / 2F</span>
								<div class="view-wrap">
									<div class="view-floor" style="margin-bottom:15px;">
										<div class="view-subject">
											<p>* 1층 : Day Care Center</p>	
										</div>
										<div class="view-content">
											<p>고객분들이 대기하며 지루하지 않도록</p>
											<p>다양한 커피와 음료가 준비되어 있습니다.</p>
										</div>
									</div>
									<div class="view-floor">
										<div class="view-subject">
											<p>* 2층 : Priavte Consulting</p>	
										</div>
										<div class="view-content">
											<p>고객 한분 한분 최적의 결과를 위해</p>
											<p>자세하고도 전문적인 개인상담을 진행합니다.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="container-fluid section-margin mt-0">
						<div class="img-box-small dsn-parallax-full"
							data-dsn-grid="move-up" data-dsn-triggerhook="0">
							<img src="/front/gng/assets/new/bg/5.png" alt=""
								data-dsn-y="30%" data-dsn-scale="1.08">
							<div class="cap">
								<span>1F / 2F</span>
								<div class="view-wrap">
									<div class="view-floor" style="margin-bottom:15px;">
										<div class="view-subject">
											<p>* 1층 : Day Care Center</p>	
										</div>
										<div class="view-content">
											<p>고객분들이 대기하며 지루하지 않도록</p>
											<p>다양한 커피와 음료가 준비되어 있습니다.</p>
										</div>
									</div>
									<div class="view-floor">
										<div class="view-subject">
											<p>* 2층 : Priavte Consulting</p>	
										</div>
										<div class="view-content">
											<p>고객 한분 한분 최적의 결과를 위해</p>
											<p>자세하고도 전문적인 개인상담을 진행합니다.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div> -->
					<section class="intro-about section-margin section-03 scroll">
						<div class="container">
							<div class="row">
								<div class="col-lg-6">
									<div class="intro-content-text">

										<h2 data-dsn-grid="move-section" data-dsn-move="-30"
											data-dsn-duration="100%" data-dsn-opacity="1.2"
											data-dsn-responsive="tablet">
											Why GNG?
										</h2>

										<p data-dsn-animate="text">大韓民国保健福祉部で許可した病院級医療機関</p>

										<h6 data-dsn-animate="text">Specialist</h6>
										<small data-dsn-animate="text">GNG病院は鼻づまり手術、鼻整形、鼻再手術、</small> <small
											data-dsn-animate="text">輪郭、目、脂肪移植、リフティング、</small> <small
											data-dsn-animate="text">睡眠クリニックに細分化されています。</small> <small
											data-dsn-animate="text">それぞれの分野別の専門性を備えた専門医が患者</small> 
											<small data-dsn-animate="text">様一人一人に合わせたソリューションを提供し</small>
											<small data-dsn-animate="text">すべてのお客様に最善を尽くします。</small>

										<div class="exper">
											<div class="numb-ex">
												<span class="word" data-dsn-animate="text">15</span>
											</div>

											<h4 data-dsn-animate="up">
												YEARS OF <br> SURGERY EXPERIENCE
											</h4>
										</div>

									</div>
								</div>
							</div>
						</div>
						<div class="background-mask">
							<div class="background-mask-bg"></div>
							<div class="img-box">
								<div class="img-cent" data-dsn-grid="move-up">
									<div class="img-container">
										<img data-dsn-y="50%"
											src="/front/gng/assets/new/new.png" alt="">
									</div>
								</div>
							</div>
						</div>
					</section>

					<section class="brand-client section-margin">
						<div class="container">
							<div class="one-title" data-dsn-animate="up">
								<div class="title-sub-container">
									<p class="title-sub">Our Member</p>
								</div>
								<h2 class="title-main">Your Beuty with Our Specialist</h2>
							</div>

							<div class="wapper-client">
								<div class="logo-box">
									<img src="/front/gng/assets/new/doctor/1.png" alt="">

									<div class="info">
										<div class="content">
											<div class="icon">
												<i class="fas fa-plus"></i>
											</div>

											<div class="entry">
												<div>
													<h5>“鼻は顔の重心です“</h5>
													<a href="#">イソンフン院長 耳鼻咽喉科専門医</a>
													<p>- カトリック大学ソウル聖母病院専任医師</p>
													<p>- 大韓耳鼻咽喉科学会</p>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="logo-box">
									<img src="/front/gng/assets/new/doctor/2.png" alt="">

									<div class="info">
										<div class="content">
											<div class="icon">
												<i class="fas fa-plus"></i>
											</div>

											<div class="entry">
												<div>
													<h5>“鼻の形から機能まで“</h5>
													<a href="#">イホジュン院長 耳鼻咽喉科専門医</a>
													<p>- ソウル峨山病院医学博士</p>
													<p>- 漢林大学校医学部耳鼻咽喉科 鼻科教授</p>
													<p>- 前 シンミアン鼻形成クリニック院長</p>
													<p>- 韓国耳鼻咽喉科学会正会員</p>
													<p>- 大韓耳鼻咽喉科学会 正会員</p>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="logo-box">
									<img src="/front/gng/assets/new/doctor/3.png" alt="">

									<div class="info">
										<div class="content">
											<div class="icon">
												<i class="fas fa-plus"></i>
											</div>

											<div class="entry">
												<div>
													<h5>“最後まで患者様のために“</h5>
													<a href="#">ジョンウォンジュ院長 麻酔疼痛科専門医</a>
													<p>- 高麗大学校医療院レジデント</p>
													<p>- 大韓麻酔科学会正会員</p>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="logo-box">
									<img src="/front/gng/assets/new/doctor/4.png" alt="">

									<div class="info">
										<div class="content">
											<div class="icon">
												<i class="fas fa-plus"></i>
											</div>

											<div class="entry">
												<div>
													<h5>“患者様のニーズに合わせて“</h5>
													<a href="#">キムジス院長 形成外科専門医</a>
													<p>- 中央大学医療院研修医-前 クロ成心病院 形成外科 課長</p>
													<p>- 大韓形成外科学会正会員</p>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="logo-box">
									<img src="/front/gng/assets/new/doctor/5.png" alt="">

									<div class="info">
										<div class="content">
											<div class="icon">
												<i class="fas fa-plus"></i>
											</div>

											<div class="entry">
												<div>
													<h5>“患者様の安全と満足のために“</h5>
													<a href="#">パクフィジョン院長 麻酔疼痛科専門医</a>
													<p>- カトリック大学校聖ビンセント病院専攻医</p>
													<p>- 前 ブミンソウル病院麻酔疼痛科課長</p>
													<p>- 大韓麻酔疼痛学会正会員</p>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="logo-box">
									<img src="/front/gng/assets/new/doctor/6.png" alt="">

									<div class="info">
										<div class="content">
											<div class="icon">
												<i class="fas fa-plus"></i>
											</div>

											<div class="entry">
												<div>
													<h5>“大事なのは良質の睡眠“</h5>
													<a href="#">ヒョンドジン院長 耳鼻咽喉科専門医</a>
													<p>- 医学博士</p>
													<p>- 米国公認睡眠騎士(RPSGT)</p>
													<p>- アメリカ睡眠学会</p>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="logo-box">
									<img src="/front/gng/assets/new/doctor/7.png" alt="">

									<div class="info">
										<div class="content">
											<div class="icon">
												<i class="fas fa-plus"></i>
											</div>

											<div class="entry">
												<div>
													<h5>“再手術は慎重に“</h5>
													<a href="#">ホンソンムン院長 耳鼻咽喉科専門医</a>
													<p>- 高麗大学医学部医学博士</p>
													<p>- 前 シンデレラ整形外科院長</p>
													<p>- アメリカ美容整形外科学会</p>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="logo-box">
									<img src="/front/gng/assets/new/doctor/8.png" alt="">

									<div class="info">
										<div class="content">
											<div class="icon">
												<i class="fas fa-plus"></i>
											</div>

											<div class="entry">
												<div>
													<h5>“美しい微笑みをあなたへ“</h5>
													<a href="#">キムヘヨン院長 形成外科専門医</a>
													<p>- 台湾長弓病院顔面輪郭センター 専任講師</p>
													<p>- 前 アイディ整形外科病院院長</p>
													<p>- 前ウォンジン整形外科院長</p>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="logo-box">
									<img src="/front/gng/assets/new/doctor/9.png" alt="">

									<div class="info">
										<div class="content">
											<div class="icon">
												<i class="fas fa-plus"></i>
											</div>

											<div class="entry">
												<div>
													<h5>“結果に自信あります“</h5>
													<a href="#">ソンヨンヘ院長 耳鼻咽喉科専門医</a>
													<p>- カトリック大学医学部 外来教授</p>
													<p>- カトリック大学校江南聖母病院 専攻医</p>
													<p>- アメリカ美容整形外科学会</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section class="our-services-2 section-margin">
						<div class="container">
							<div class="one-title" data-dsn-animate="up">
								<div class="title-sub-container">
									<p class="title-sub">Our Servcies</p>
								</div>
								<h2 class="title-main">Global Medical Services</h2>
							</div>

							<div class="row">
								<div class="col-md-4">
									<div class="services-item">
										<div class="corner corner-top"></div>
										<div class="corner corner-bottom"></div>
										<div class="icon">
											<img src="/front/gng/assets/new/8_1_1.png" alt="">
										</div>
										<div class="services-header">
											<h3>日本人向けサービス</h3>
										</div>
										<p>日本の患者様を対象に日本語</p>
										<p>専門通訳士はもちろん、</p>
										<p>他にも色んなサービスを提供</p>
										<div class="link-custom">
											<a class="image-zoom effect-ajax" href="https://jp.gnghospital.com/"
												data-dsn="parallax"> <span>詳しく</span>
											</a>
										</div>
									</div>
								</div>

								<div class="col-md-4">
									<div class="services-item selected">
										<div class="corner corner-top"></div>
										<div class="corner corner-bottom"></div>
										<div class="icon">
											<img src="/front/gng/assets/new/8_1_2.png" alt="">
										</div>
										<div class="services-header">
											<h3>３D鼻整形</h3>
										</div>
										<p>ディテールな３D鼻整形手</p>
										<p>術で自分の顔にぴったりの</p>
										<p>自然な美しさ</p>
										<div class="link-custom">
											<a class="image-zoom effect-ajax" href="https://jp.gnghospital.com/sub/customized-rhinoplasty/"
												data-dsn="parallax"> <span>詳しく</span>
											</a>
										</div>
									</div>
								</div>

								<div class="col-md-4">
									<div class="services-item">
										<div class="corner corner-top"></div>
										<div class="corner corner-bottom"></div>
										<div class="icon">
											<img src="/front/gng/assets/new/8_1_3.png" alt="">
										</div>
										<div class="services-header">
											<h3>輪郭整形</h3>
										</div>
										<p>安全な</p>
										<p>輪郭整形であなたに</p>
										<p>自然な美しさを</p>
										<div class="link-custom">
											<a class="image-zoom effect-ajax" href="https://jp.gnghospital.com/sub/vline/"
												data-dsn="parallax"> <span>詳しく</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>

					<section class="our-work work-under-header  section-margin"
						data-dsn-col="3">
						<div class="container">
							<div class="one-title">
								<div class="title-sub-container">
									<p class="title-sub">Our Premium</p>
								</div>
								<h2 class="title-main">Special Premium</h2>
							</div>
						</div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-lg-9 offset-lg-3">
									<div class="work-container">
										<div class="slick-slider">
											<div class="work-item slick-slide">
												<img class="has-top-bottom"
													src="/front/gng/assets/new/premium/2.png" alt="">
												<div class="item-border"></div>
												<div class="item-info">
													<h5 class="cat">After Care Service</h5>
													<h4>患者様の早期回復のために専</h4>
													<h4>門医が1：1ケアをします</h4>
													<span><span>専門医が1：1にケアします。</span></span>
												</div>
											</div>

											<div class="work-item slick-slide">
												<img class="has-top-bottom"
													src="/front/gng/assets/new/premium/3.png" alt="">
												<div class="item-border"></div>
												<div class="item-info">
													<h5 class="cat">Japanese Translation</h5>
													<h4>日本語通訳が可能な相談師との</h4>
													<h4>ディテールなご相談が可能です</h4>
													<span><span>簡単かつ詳細に説明します。</span></span>
												</div>
											</div>
											<div class="work-item slick-slide">
												<img class="has-top-bottom"
													src="/front/gng/assets/new/premium/1.png" alt="">
												<div class="item-border"></div>
												<div class="item-info">
													<h5 class="cat">Vehicle Pickup Service</h5>
													<h4>空港送迎サービス</h4>
													<h4>空港から病院まで楽な移動</h4>
													<span><span>お客さまをお気軽に集めます</span></span>
												</div>
											</div>
											<div class="work-item slick-slide">
												<img class="has-top-bottom"
													src="/front/gng/assets/new/premium/4.png" alt="">
												<div class="item-border"></div>
												<div class="item-info">
													<h5 class="cat">More Benefits for Japanese</h5>
													<h4>その他にも色々特別なサービ</h4>
													<h4>ビをご提供します</h4>
													<span><span>豊富な特典をいたします。</span></span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>

					<section class="our-news section-margin">
						<div class="container">
							<div class="one-title" data-dsn-animate="up">
								<div class="title-sub-container">
									<p class="title-sub">GNG Speciality</p>
								</div>
								<h2 class="title-main">大阪説明会</h2>
							</div>
							<div class="custom-container">
								<div class="slick-slider">
									<div class="item-new slick-slide">
										<div class="image" data-overlay="0">
											<img src="/front/gngPlus/new/conf/cc2.png" alt="">
										</div>
										<div class="content">
											<div class="background"></div>
											<div class="cta">
												<a href="#">大阪説明会</a>
											</div>
											<p class="sns-content">たくさんの患者様から要請がありまして、大阪で現地相談会を開催しました。</p>
										</div>
									</div>
									<div class="item-new slick-slide">
										<div class="image" data-overlay="0">
											<img src="/front/gngPlus/new/conf/cc3.png" alt="">
										</div>
										<div class="content">
											<div class="background"></div>
											<div class="cta">
												<a href="#">大阪説明会</a>
											</div>
											<p class="sns-content">現地相談会にお越しになった方々には様々な特典を提供いたしました。</p>
										</div>
									</div>
									<div class="item-new slick-slide">
										<div class="image" data-overlay="0">
											<img src="/front/gngPlus/new/conf/cc4.png" alt="">
										</div>
										<div class="content">
											<div class="background"></div>
											<div class="cta">
												<a href="#">大阪説明会</a>
											</div>
											<p class="sns-content">大阪相談会 参加者特典
１．手術10％OFF
２．高圧酸素療法+LED治療無制限
３．ビタミン及び栄養注射サービス
４．空港送迎
５．入院３泊４日提供
６． 輪郭２点以上行う場合、鼻or目50％OFF
７．３Ｄオーダーメイドプロテーゼ手術際、提携ホテル３泊４日無料提供
</p>
										</div>
									</div>
									<div class="item-new slick-slide">
										<div class="image" data-overlay="0">
											<img src="/front/gngPlus/new/conf/cc5.png" alt="">
										</div>
										<div class="content">
											<div class="background"></div>
											<div class="cta">
												<a href="#">大阪説明会</a>
											</div>
											<p class="sns-content">日本語通訳相談士とディテールなご相談を行いました。
</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
                    <section class="brand-client section-margin">
						<div class="container">
							<div class="one-title" data-dsn-animate="up">
								<div class="title-sub-container">
									<p class="title-sub">Association of Insurance</p>
								</div>
								<h2 class="title-main">保険請求</h2>
							</div>

							<div class="wapper-client insurance">
								<div class="logo-box">
									<img src="/front/gng/assets/new/insu/1.png" alt="">

									<div class="info">
										<div class="content">
											<div class="icon">
												<i class="fas fa-plus"></i>
											</div>

											<div class="entry">
												<div>
													<h5>AIG</h5>
													<a href="https://www.aig.co.jp/sonpo">訪問する</a>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="logo-box">
									<img src="/front/gng/assets/new/insu/2.png" alt="">

									<div class="info">
										<div class="content">
											<div class="icon">
												<i class="fas fa-plus"></i>
											</div>

											<div class="entry">
												<div>
													<h5>AU損保</h5>
													<a href="https://www.au-sonpo.co.jp/pc/">訪問する</a>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="logo-box">
									<img src="/front/gng/assets/new/insu/3.png" alt="">

									<div class="info">
										<div class="content">
											<div class="icon">
												<i class="fas fa-plus"></i>
											</div>

											<div class="entry">
												<div>
													<h5>AXAダイレクト</h5>
													<a href="https://www.axa-direct.co.jp/">訪問する</a>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="logo-box">
									<img src="/front/gng/assets/new/insu/4.png" alt="">

									<div class="info">
										<div class="content">
											<div class="icon">
												<i class="fas fa-plus"></i>
											</div>

											<div class="entry">
												<div>
													<h5>明治安田生命</h5>
													<a href="https://www.meijiyasuda.co.jp/">訪問する</a>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="logo-box">
									<img src="/front/gng/assets/new/insu/5.png" alt="">

									<div class="info">
										<div class="content">
											<div class="icon">
												<i class="fas fa-plus"></i>
											</div>

											<div class="entry">
												<div>
													<h5>損保ジャパン</h5>
													<a href="https://www.rakuten-sonpo.co.jp/">訪問する</a>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="logo-box">
									<img src="/front/gng/assets/new/insu/6.png" alt="">

									<div class="info">
										<div class="content">
											<div class="icon">
												<i class="fas fa-plus"></i>
											</div>

											<div class="entry">
												<div>
													<h5>ソニー損保</h5>
													<a href="https://www.sonysonpo.co.jp/">訪問する</a>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="logo-box">
									<img src="/front/gng/assets/new/insu/7.png" alt="">

									<div class="info">
										<div class="content">
											<div class="icon">
												<i class="fas fa-plus"></i>
											</div>

											<div class="entry">
												<div>
													<h5>SBI損保</h5>
													<a href="https://www.sbisonpo.co.jp/">訪問する</a>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="logo-box">
									<img src="/front/gng/assets/new/insu/8.png" alt="">

									<div class="info">
										<div class="content">
											<div class="icon">
												<i class="fas fa-plus"></i>
											</div>

											<div class="entry">
												<div>
													<h5>楽天損保</h5>
													<a href="https://www.sompo-japan.co.jp/">訪問する</a>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="logo-box">
									<img src="/front/gng/assets/new/insu/9.png" alt="">

									<div class="info">
										<div class="content">
											<div class="icon">
												<i class="fas fa-plus"></i>
											</div>

											<div class="entry">
												<div>
													<h5>チューリッヒ保険</h5>
													<a href="https://www.zurich.co.jp/">訪問する</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<p>* 損害保険請求は加入時点、保障内容など個人別に差がありますので、詳しくは病院の方で診察を受けた後、その内容を基に問い合わせた方が正確に把握することが可能です。</p>
							</div>
						</div>
					</section>
				</div>

				<footer class="footer">
					<div class="container">
						<div class="footer-links p-relative">
							<div class="row">
								<div class="col-md-3 dsn-col-footer">
									<div class="footer-block">
										<div class="footer-logo">
											<a href=""><img
												src="/front/gng/assets/new/logo_japan.png" alt=""></a>
										</div>

										<div class="footer-social">

											<ul>
												<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
												<li><a href="#"><i class="fab fa-instagram"></i></a></li>

											</ul>

										</div>
									</div>
								</div>

								<div class="col-md-3 dsn-col-footer">
									<div class="footer-block col-menu">
										<h4 class="footer-title">Navigation</h4>
										<nav>
											<ul>
												<li><a href="#">Portfolio</a></li>
												<li><a href="#">About</a></li>
												<li><a href="#">Contact</a></li>
											</ul>
										</nav>
									</div>
								</div>

								<div class="col-md-3 dsn-col-footer">
									<div class="footer-block col-contact">
										<h4 class="footer-title">Contact</h4>
										<p>
											<strong>T</strong> <span>:</span>010-1234-1234
										</p>
										<p>
											<strong>F</strong> <span>:</span>010-1234-1234
										</p>
										<p class="over-hidden">
											<strong>E</strong> <span>:</span><a class="link-hover"
												data-hover-text="Email" href="#">Email</a>
										</p>
									</div>
								</div>

								<div class="col-md-3 dsn-col-footer">
									<div class="col-address">
										<h4 class="footer-title">Address</h4>

										<p>Address</p>
									</div>
								</div>
							</div>
						</div>

						<div class="copyright">
							<div class="text-center">
								<p>2023 ATTraction</p>
								<div class="copright-text over-hidden">
									Designed by <a class="link-hover" data-hover-text="ATTractions"
										href="#" target="_blank">ATRT</a>
								</div>
							</div>
						</div>
					</div>
				</footer>
			</div>
		</div>
	</main>

	<div class="wait-loader">
		<div class="loader-inner">
			<div class="loader-circle">
				<div class="loader-layer"></div>
			</div>
		</div>
	</div>

	<div class="cursor">

		<div class="cursor-helper cursor-view">
			<span>VIEW</span>
		</div>
		<div class="cursor-helper cursor-close">
			<span>Close</span>
		</div>
		<div class="cursor-helper cursor-link"></div>
	</div>
	<div class="icon-wrap">
		<img src="/front/gng/assets/new/line.png">
	</div>
	<script src="/front/gng/assets/js/jquery-3.1.1.min.js"></script>
	<script src="/front/gng/assets/js/plugins.js"></script>
	<script src="/front/gng/assets/js/dsn-grid.js"></script>
	<script src="/front/gng/assets/js/custom.js"></script>
	<script>
        (function (global, $) {

            var $menu = $('.floating-menu li.m'),
                $contents = $('.scroll'),
                $doc = $('html, body');
            $(function () {
                // 해당 섹션으로 스크롤 이동

                $menu.on('click', 'a', function (e) {
                    var $target = $(this).parent(),
                        idx = $target.index(),
                        section = $contents.eq(idx),
                        offsetTop = section.offset().top;
                    console.log($doc)
                    $doc.stop().animate({
                        scrollTop: offsetTop
                    }, 800);
                    return false;
                });
            });

            // menu class 추가
            $(window).scroll(function () {
                var scltop = $(window).scrollTop();
                $.each($contents, function (idx, item) {
                    var $target = $contents.eq(idx),
                        i = $target.index(),
                        targetTop = $target.offset().top;

                    if (targetTop <= scltop) {
                        $menu.removeClass('on');
                        $menu.eq(idx).addClass('on');
                    }
                    if (!(200 <= scltop)) {
                        $menu.removeClass('on');
                    }
                })

            });

            // Go to the TOP
            var btnTop = $('.btn-top');
            btnTop.on('click', 'a', function (e) {
                e.preventDefault();
                $doc.stop()
                    .animate({
                        scrollTop: 0
                    }, 800)
            });

        }(window, window.jQuery));
        var btn = document.getElementById('test');
        btn.addEventListener('click', function(){
        	console.log('gd');
        });
    </script>
</body>

</html>