<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>투어이스트</title>
<meta name="keywords" content="" />
<meta name="description" content="">
<meta name="author" content="">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="shortcut icon" href="/front/tour/new/logo.ico">
<link rel="stylesheet" type="text/css"
	href="/front/tour/js/bootstrap/bootstrap.min.css">

<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Yesteryear"
	rel="stylesheet">

<link rel="stylesheet"
	href="/front/tour/js/megamenu/stylesheets/screen.css">
<link rel="stylesheet" href="/front/tour/css/theme-default.css"
	type="text/css">
<link rel="stylesheet"
	href="/front/tour/js/loaders/stylesheets/screen.css">
<link rel="stylesheet" href="/front/tour/css/corporate.css"
	type="text/css">
<link rel="stylesheet"
	href="/front/tour/fonts/font-awesome/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" type="text/css"
	href="/front/tour/fonts/Simple-Line-Icons-Webfont/simple-line-icons.css"
	media="screen" />
<link rel="stylesheet" href="/front/tour/fonts/et-line-font/et-line-font.css">
<link rel="stylesheet" type="text/css"
	href="/front/tour/js/revolution-slider/css/settings.css">
<link rel="stylesheet" type="text/css"
	href="/front/tour/js/revolution-slider/css/layers.css">
<link rel="stylesheet" type="text/css"
	href="/front/tour/js/revolution-slider/css/navigation.css">
<link rel="stylesheet" href="/front/tour/js/parallax/main.css">
<link rel="stylesheet" type="text/css"
	href="/front/tour/js/cubeportfolio/cubeportfolio.min.css">
<link href="/front/tour/js/owl-carousel/owl.carousel.css"
	rel="stylesheet">
<link href="/front/tour/js/owl-carousel/owl.theme.css" rel="stylesheet">
<link href="/front/tour/js/tabs/css/responsive-tabs.css"
	rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet"
	href="/front/tour/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
<link rel="stylesheet"
	href="/front/tour/js/magnific-popup/magnific-popup.css">

<link rel="stylesheet/less" type="text/css"
	href="/front/tour/less/skin.less">
<link rel="stylesheet" href="/front/tour/css/detail.css">
<script src="https://kit.fontawesome.com/e5334cc6a1.js" crossorigin="anonymous"></script>
</head>

<body>
	<div class="over-loader loader-live">
		<div class="loader">
			<div class="loader-item style5">
				<div class="bounce1"></div>
				<div class="bounce2"></div>
				<div class="bounce3"></div>
			</div>

		</div>
	</div>


	<div class="wrapper-boxed">
		<div class="site-wrapper">
			<div class="col-md-12 nopadding">
				<div class="header-section style1 pin-style white">
					<div class="container">
						<div class="mod-menu">
							<div class="row">
								<div class="col-sm-2">
									<a href="/toureast/index" title="" class="logo style-2 mar-4">
										<img width="170px;" src="/front/tour/new/logo.png" alt=""> </a>
								</div>
								<div class="col-sm-10">
									<div class="main-nav" id="navbar-example">
										<ul class="nav navbar-nav top-nav">
                                            <li class="visible-xs menu-icon"> <a href="javascript:void(0)"
                                                    style="color:black;" class="navbar-toggle collapsed" data-toggle="collapse"
                                                    data-target="#menu" aria-expanded="false"> <i aria-hidden="true"
                                                        class="fa fa-bars"></i> </a> </li>
                                        </ul>
										<div id="menu" class="collapse">
											<ul class="nav navbar-nav">
												<li><a href="/toureast/index"
													title="">:: HOME ::</a></li>
												<li><a href="#" title="">:: 허니문 TRIPs ::</a> <span
													class="arrow"></span>
													<ul class="dm-align-2">
														<li><a href="/toureast/parisDetail" title="">파리
																&amp; 스위스</a></li>
														<li><a href="/toureast/italiaDetail" title="">이태리
																&amp; 스위스</a></li>
													</ul></li>
												<li class="active"><a href="/toureast/contact" title="blog">:: 문의하기 ::</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<section class="section-side-image clearfix">
				<div class="img-holder col-md-12 col-sm-12 col-xs-12">
					<div class="background-imgholder"
						style="background: url(/front/tour/new/cont.png);">
						<img class="nodisplay-image" src="/front/tour/new/cont.png" alt="" />
					</div>
				</div>
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12 clearfix nopadding">
							<div class="header-inner less-height">
								<div class="overlay">
									<div class="text text-center">
										<h3 class="uppercase text-white less-mar-1 title">TOUR-EAST</h3>
										<h6 class="uppercase text-white sub-title">CONTACT US</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<div class="clearfix"></div>


			<section class="sec-padding section-light">
				<div class="container">
					<div class="row">

						<div class="col-md-12 col-sm-12 col-xs-12 contact-form">

							<p>* 저희 TOUREAST는 언제나 내 가족이 간다는 마음으로 <strong>여행 출발부터 무사하게 집으로 돌아오는 그 순간</strong>까지 세세한 부분까지 놓치지 않고 준비합니다. </p>
							<p>* 고객님의 여행에 <strong>행복과 즐거움만</strong>이 깃들도록 노력할 것을 약속드리며, 궁금하신 점이 있으시면 언제든 연락 주시면 빠르게 답변 드리도록 하겠습니다.</p>
							<p>* 고객님의 <strong>연락처와 이메일</strong>은 정확하게 입력 부탁드리겠습니다.</p>
							
							<br /> <br />
						</div>
					
						
						<div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom:30px;">

							<div class="text-box white padding-4">
								<div class="one_half">
									<div class="cforms_sty3">
										<form method="POST">
											<label class="label">신랑 성함 <em>*</em></label> <label
												class="input"> <input type="text" name="name" placeholder="성함을 입력 하세요.">
											</label>

											<div class="clearfix"></div>
											
											<label class="label">신부 성함 <em>*</em></label> <label
												class="input"> <input type="text" name="name" placeholder="성함을 입력 하세요.">
											</label>

											<div class="clearfix"></div>

											<label class="label"> 고객 이메일 <em>*</em></label> <label
												class="input"> <input type="email" name="email" placeholder="이메일을 입력 하세요.">
											</label>
											
											<div class="clearfix"></div>

											<label class="label"> 고객 연락처 <em>*</em></label> <label
												class="input"> <input type="text" name="phone" placeholder="연락처를 입력 하세요.">
											</label>
											
											<label class="label"> 예식일 <em>*</em></label> <label
												class="input"> <input type="date" name="date" placeholder="연락처를 입력 하세요.">
											</label>

											<div class="clearfix"></div>
											
											<label class="label">여행 지역 <em>*</em></label> <label
												class="input"> 
												<select class="form-control"
												style="width:100%; 
												padding:9px 12px; 
												margin-bottom:10px;
												background:#f9f9f9; 
												border:1px solid #eee;
												color:#454545; 
												box-shadow:inset 0px 1px 2px 0px rgba(238,238,238,1);
												font-size:14px;
												height:100%;"
												>
													<option>=== 여행지역을 선택 하세요 ===</option>
													<option>OPTIONs</option>
												</select>
											</label>

											<div class="clearfix"></div>
											
											<label class="label">Message <em>*</em></label> <label
												class="textarea"> <textarea rows="5" name="message" placeholder="남길 말씀을 입력 하세요."></textarea>
											</label>

											<div class="clearfix"></div>
											<input type="hidden" name="token" />
											<button type="submit" class="button">문의하기</button>

										</form>
									</div>
								</div>
							</div>
							<p style="color:red;">* 타인의 개인정보를 이용하여 무단으로 문의하는 경우 개인정보 보호법에 의거하여 민-형사상 책임을 질 수 있습니다.</p>
						</div>	
					</div>
				</div>
			</section>
			<div class="clearfix"></div>

			<section class="sec-padding-6 section-medium-dark">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-sm-12 colmargin clearfix margin-bottom">
							<div class="fo-map">
								<div class="footer-logo">
									<img width="120px;" src="/front/tour/new/logo.png">
								</div>
								<address>
									<strong>Address : </strong> 508, B-Dong, 313 Central-ro <br> Yeonsu-gu, Korea
								</address>
								<span><strong>Phone : </strong> 1533-3066</span><br> 
								<span><strong>Email : </strong> toureast@naver.com </span>
							</div>
						</div>

					</div>
					<div class="row">
						<div class="fo-copyright-holder text-center">Copyright ©
							2023 ATtraction. All rights reserved.</div>
					</div>
				</div>
			</section>
			<div class="clearfix"></div>

			<a href="#" class="scrollup"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
			<a href="https://open.kakao.com/o/suKVBL5e" class="cacao"><i class="fa-solid fa-message"></i></a>	
			<a href="tel:1533-3066" class="tel"><i class="fa-solid fa-phone"></i></a>

		</div>
	</div>

	<script src="/front/tour/js/jquery/jquery.js"></script>
	<script src="/front/tour/js/bootstrap/bootstrap.min.js"></script>
	<script src="/front/tour/js/template-custom/js/template-custom.js"></script>
	<script src="/front/tour/js/less/less.min.js" data-env="development"></script>
	<script src="/front/tour/js/megamenu/js/onepage.js"></script>
	<script src="/front/tour/js/megamenu/js/main.js"></script>
	<script type="text/javascript"
		src="/front/tour/js/ytplayer/jquery.mb.YTPlayer.js"></script>
	<script type="text/javascript"
		src="/front/tour/js/ytplayer/elementvideo-custom.js"></script>
	<script type="text/javascript"
		src="/front/tour/js/ytplayer/play-pause-btn.js"></script>
	<script type="text/javascript"
		src="/front/tour/js/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript"
		src="/front/tour/js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript"
		src="/front/tour/js/revolution-slider/js/extensions/revolution.extension.actions.min.js"></script>
	<script type="text/javascript"
		src="/front/tour/js/revolution-slider/js/extensions/revolution.extension.carousel.min.js"></script>
	<script type="text/javascript"
		src="/front/tour/js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script type="text/javascript"
		src="/front/tour/js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript"
		src="/front/tour/js/revolution-slider/js/extensions/revolution.extension.migration.min.js"></script>
	<script type="text/javascript"
		src="/front/tour/js/revolution-slider/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript"
		src="/front/tour/js/revolution-slider/js/extensions/revolution.extension.parallax.min.js"></script>
	<script type="text/javascript"
		src="/front/tour/js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript"
		src="/front/tour/js/revolution-slider/js/extensions/revolution.extension.video.min.js"></script>

	<script>
    $(window).load(function(){
      setTimeout(function(){

        $('.loader-live').fadeOut();
      },1000);
    })

  </script>
	<script src="/front/tour/js/parallax/parallax-background.min.js"></script>

	<script src="/front/tour/js/tabs/js/responsive-tabs.min.js"
		type="text/javascript"></script>
	<script type="text/javascript"
		src="/front/tour/js/cubeportfolio/jquery.cubeportfolio.min.js"></script>
	<script type="text/javascript"
		src="/front/tour/js/cubeportfolio/main-mosaic3.js"></script>
	<script src="/front/tour/js/owl-carousel/owl.carousel.js"></script>
	<script src="/front/tour/js/owl-carousel/custom.js"></script>
	<script src="/front/tour/js/owl-carousel/owl.carousel.js"></script>
	<script src="/front/tour/js/accordion/js/smk-accordion.js"></script>
	<script src="/front/tour/js/accordion/js/custom.js"></script>
	<script src="/front/tour/js/progress-circle/raphael-min.js"></script>
	<script src="/front/tour/js/progress-circle/custom.js"></script>
	<script
		src="/front/tour/js/progress-circle/jQuery.circleProgressBar.js"></script>
	<script src="/front/tour/js/functions/functions.js"></script>
</body>
</html>
